@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

:root {
  --border-color: #F9A03F;
  --background-color: #813405;
  --background2-color: #D45113;
  --text-color: #DDF9C1;
  --text2-color: #F8DDA4;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  margin: 0;
  font-family: 'Quicksand', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--text2-color);
}

.draggable-list {
  border: 2px solid var(--border-color);
  color: var(--text-color);
  padding: 0;
  list-style: none;
}

.draggable-list li {
  background-color: var(--background2-color);
  display: flex;
  flex: 1;
}

.draggable-list li:not(:last-of-type) {
  border-bottom: 1px solid var(--border-color);
}

.draggable-list .number {
  background-color: var(--border-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  height: 60px;
  width: 60px;
}

.draggable-list li.over .draggable {
  color: #EAEAEA;
  background-color: var(--border-color);
}

.draggable-list .question-name {
  margin: 0 20px 0 0;
}

.draggable-list li.right .question-name {
  color: lime;
}
.draggable-list li.wrong .question-name {
  color: red;
}

.draggable {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1px;
  flex: 1;
}

.check-btn {
  background-color: var(--background2-color);
  border: none;
  color: var(--text-color);
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 15px;
}

.check-btn:active {
  transform: scale(.9);
}

.check-btn:focus {
  outline: none;
}

.container {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  list-style-type: none;
  gap: 20px;
}

li {
  animation-name: lowerCase;
  animation-duration: calc(var(--i) * 1s);
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}
@keyframes lowerCase {
  80% {
    text-transform: lowercase;
  }
  100% {
    text-transform: uppercase;
  }
}

/* li {
  animation-name: bubbly;
  animation-duration: calc(var(--i) * 1s);
    animation-fill-mode: forwards;
  animation-timing-function: easy-in-out;
}

@keyframes bubbly {
  0% {
    opacity: 0;
    /* transform: translateY(-100px); */
    transform: scale(0);
  }
  70% {
    opacity: 1;
    transform: scale(1.5);
  }
  100% {
    opacity: 1;
    /* transform: translateY(0); */
    transform: scale(1);
  }
} */